<h1><p>
  <strong>Title:</strong>
  <%= @question.title %>
</p></h1>

<h1><p>
  <strong>Test:</strong>
  <%= @question.test.title %>
</p></h1>

<h2>Answers</h2>
<h2><%= link_to 'New answer', new_question_answer_path(@question)%></h2>

<ol>
  <%= render @question.answers %>
</ol>

<h2><%= link_to 'Edit question', edit_question_path%></h2>
<h2><%= link_to 'Back to tests', tests_path %></h2>
