<%= badge_header(@badge) %>
<%= form_with model: [:admin, @badge], local: true do |f| %>
  <%= render 'shared/errors', resource: @badge %>
  <h2><p>
    <%= f.label :name %>
    <%= f.text_field :name, id: :badge_name %>
  </p></h2>

  <h2><p>
    <%= f.label :file %>
    <%= f.text_field :file, id: :badge_file%>
  </p></h2>

  <h2><p>
    <%= f.label :rule_type %>
    <%= f.collection_select :rule_type, rules_type_values, :to_s, :to_s, prompt: true %>
  </p></h2>

  <h2><p>
    <%= f.label :rule_value %>
    <%= f.text_field :rule_value, id: :badge_rule_value %>
  </p></h2>

  <h2><p>
    <%= f.label :reason %>
    <%= f.text_area :reason %>
  </p></h2>

  <%= f.submit %>
<% end %>
