<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h1><%= t('test_passages.result.score', score: @test_passage.correct_questions ) %></h1>

<h2><% if @test_passage.successful? %>
  <p class="success"><%= t('test_passages.result.success', progress: @test_passage.progress)%></p>
<% else %>
  <p class="failed"><%= t('test_passages.result.failure', progress: @test_passage.progress)%></p>
<% end %>
</h2>
<h2><%= link_to t('test_passages.result.footer'), tests_path %></h2>
