<h1><%= t('test_passages.show.header', title: @test_passage.test.title ) %></h1>

<h2><p>
  <strong><%= t('test_passages.show.body.count') %></strong>
  <%= @test_passage.test.questions.count %>
</p></h2>

<h2>
  <%= @test_passage.current_question_id %>)<%= @test_passage.current_question.title %>
</h2>

<%= form_with url: test_passage_path(@test_passage),data: {turbo: false}, local: true, method: :put do |form|%>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title,
                                  include_hidden: false do |b| %>
    <h2>
      <%= b.check_box id: "answer_ids_#{b.object_id}" %>
      <%= b.label %>
    </h2>
  <% end %>

  <h2><%= link_to 'Gist question', gist_test_passage_path(@test_passage) %></h2>
  <h2><%= form.submit %></h2>
<% end %>
