<%= form_with model: [:admin, @question, @answer], data: {turbo: false}, local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <h2><p>
    <%= form.label :title %><br>
    <%= form.text_area :title, id: :answer_title, rows: 6, cols: 50 %>
  </p></h2><br>

  <h2><p>
    <%= form.label :file %><br>
    <%= form.file_field :files, multiple: true %>
  </p></h2><br>

  <%= form.fields_for :links do |link| %>

    <h2><p>
      <%= link.label :name, 'Link name' %><br>
      <%= link.text_field :name %>
    </p></h2><br>

    <h2><p>
      <%= link.label :url %><br>
      <%= link.text_field :url %>
    </p></h2><br>
  <% end %>

  <h2><p>
    <%= form.label :correct %><br>
    <%= form.check_box :correct, id: :answer_correct %>
  </p></h2><br>

  <h3><p><%= form.submit %></p></h3>
<% end %>
