<%= form_with model: [:admin, @test, @question], data: {turbo: false}, local: true do |form| %>
<%= render 'shared/errors', resource: @question %>

  <h2><p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
  </p></h2><br>

  <h2><p>
    <%= form.label :file %><br>
    <%= form.file_field :files, multiple: true %>
  </p></h2><br>

  <%= form.fields_for :links do |link| %>
    <h2><p>
      <%= link.label :name, 'Link name' %><br>
      <%= link.text_field :name %>
    </p></h2><br>

    <h2><p>
      <%= link.label :url %><br>
      <%= link.text_field :url %>
    </p></h2><br>
  <% end %>

  <h3><p><%= form.submit %></p></h3>
<% end %>
