<%= form_with model: [:admin, @test, @question], data: {turbo: false}, local: true do |f| %>
<%= render 'shared/errors', resource: @question %>

  <h2><p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  </p></h2><br>

  <h2><p>
    <%= f.label :file %><br>
    <%= f.file_field :files, multiple: true %>
  </p></h2><br>

  <%= f.fields_for :links do |l| %>
    <h2><p>
      <%= l.label :name, 'Link name' %><br>
      <%= l.text_field :name %>
    </p></h2><br>

    <h2><p>
      <%= l.label :url %><br>
      <%= l.text_field :url %>
    </p></h2><br>
  <% end %>

  <h3><p><%= f.submit %></p></h3>
<% end %>
