<h1><%= t('admin.questions.index.header') %></h1>

<h2><table>
  <% @questions.each do |question| %>
    <tr>
      <th><%= upcase_title(question)%>==></th>
      <th><%= link_to t('admin.tests.body.show'), admin_question_path(question) %>|</th>
      <th><%= link_to t('admin.tests.body.edit'), edit_admin_question_path(question) %>|</th>
      <th><%= link_to t('admin.tests.body.delete'), admin_question_path(question),
                      data: {"turbo-method": :delete},
                      class: "btn btn-danger ml-3" %></th>
    </tr>
  <% end %>
</table></h2>

  <h2><%= link_to t('admin.questions.index.footer'), admin_test_path(@test)%></h2>

