
<%= form_with model: [:admin, @test], data: {turbo: false}, local: true do |form| %>
  <%= render 'shared/errors', resource: @test  %>

  <h2><p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p></h2><br>

  <h2><p>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </p></h2><br>

  <h2><p>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p></h2><br>

  <h3><p><%= form.submit %></p></h3>
<% end %>
