<h1><%= t('.header') %></h1>

<h2><%= link_to t('admin.tests.index.create'), new_admin_test_path %></h2>

<h2><table class="tests">
  <tr>
    <th><%= t('admin.tests.body.title') %></th>
    <th><%= t('admin.tests.body.level') %></th>
    <th><%= t('admin.tests.body.category') %></th>
    <th><%= t('admin.tests.body.author') %></th>
    <th colspan="4"><%= t('admin.tests.body.actions')%></th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <th><%= upcase_title(test) %></th>
      <th><%= test.level %></th>
      <th><%= test.category %></th>
      <th><%= test.author %></th>
      <th><%= link_to t('admin.tests.body.show'), admin_test_path(test) %>|</th>
      <th><%= link_to t('admin.tests.body.edit'), edit_admin_test_path(test) %>|</th>
      <th><%= link_to t('admin.tests.body.delete'), admin_test_path(test),
                      data: {"turbo-method": :delete},
                      class: "btn btn-danger ml-3" %></th>
    </tr>
  <% end %>
</table></h2>
