
<h1><p>
  <strong><%= t('admin.tests.show.title') %></strong>
  <%= @test.title %>
</p></h1>

<h2><p>
  <strong><%= t('admin.tests.show.level') %></strong>
  <%= @test.level %>
</p></h2>

<h2><p>
  <strong><%= link_to t('admin.tests.show.questions'), admin_test_questions_path(@test)%></strong>
</p></h2>

<h2><%= link_to t('admin.tests.show.create'), new_admin_test_question_path(@test) %></h2>
<h2><%= link_to t('admin.tests.show.edit'), edit_admin_test_path(@test) %></h2>
<h2><%= link_to t('admin.tests.show.footer'), admin_tests_path %></h2>
