<h1>Test Guru</a> Tests</h1>

<h2><table class="tests">
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Questions</th>
    <th>Actions</th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <th><%= upcase_title(test) %></th>
      <th><%= test.level %></th>
      <th><%= test.category %></th>
      <th><%= test.questions.count %></th>
      <th><%= button_to 'Start', start_test_path(test) %></th>
    </tr>
  <% end %>
</table></h2>
