<h1><%= t('tests.index.header') %></h1>

<h2><table class="tests">
  <tr>
    <th><%= t('tests.index.body.title') %></th>
    <th><%= t('tests.index.body.level') %></th>
    <th><%= t('tests.index.body.category') %></th>
    <th><%= t('tests.index.body.questions') %></th>
    <th><%= t('tests.index.body.actions') %></th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <th><%= upcase_title(test) %></th>
      <th><%= test.level %></th>
      <th><%= test.category.title %></th>
      <th><%= test.questions.count %></th>
      <th><%= button_to t('tests.index.body.start'), start_test_path(test) %></th>
    </tr>
  <% end %>
</table></h2>
